/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.rod {
  background-color: black;
  width: 2rem;
  height: 5rem;
  margin: auto;
}

.lightbox {
  background-color: black;
  width: 10rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 2rem;
}

.red {
  background-color: rgba(255, 0, 0, 0.322);
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
}

.redLit {
  background-color: red;
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 60px 30px #fff, /* inner white */ 0 0 100px 60px #f0f,
    /* middle magenta */ 0 0 140px 90px #0ff; /* outer cyan */
}

.yellow {
  background-color: rgba(255, 255, 0, 0.274);
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
}

.yellowLit {
  background-color: yellow;
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 60px 30px #fff, /* inner white */ 0 0 100px 60px #f0f,
    /* middle magenta */ 0 0 140px 90px #0ff; /* outer cyan */
}

.green {
  background-color: rgba(0, 128, 0, 0.438);
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
}

.greenLit {
  background-color: rgb(24, 207, 24);
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 60px 30px #fff, /* inner white */ 0 0 100px 60px #f0f,
    /* middle magenta */ 0 0 140px 90px #0ff; /* outer cyan */
}
